@{
  Layout = "_Layout";
}
@using VendorOrderTracker.Models;

  @if (@Model["orders"].Count == 0)
  {
    <h3>@Model["vendor"].Name hasn't placed any orders yet.</h3>
  }

  @if (@Model["orders"].Count > 0)
  {
    <h3>Here are all of @Model["vendor"].Name's orders:</h3>
    <ol>
      @foreach (Order order in @Model["orders"])
      {
        <li>
          <a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title (@order.Date)</a>
          <br>Total - $@order.Total
        </li>
      }
    </ol>
  }

  <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order to @Model["vendor"].Name</a></p>
  <p><a href='/vendors/@Model["vendor"].Id/update'>Update @Model["vendor"].Name's information</a></p>
  <p><a href='/vendors'>Return to vendor list</a></p>
  <p><a href='/'>Return to main page</a></p>

  <form action="/vendors/delete" method="post">
    <input name="id" type="hidden" value='@Model["vendor"].Id'>
    <button type="submit" name="button">Delete @Model["vendor"].Name</button>
  </form>