@{
  Layout = "_Layout";
}
@using VendorOrderTracker.Models;

<h3>@Model["order"].Title - @Model["order"].Date</h3>
<h5>Order Details:</h5>

@if (@Model["order"].Description["pastries"] == 0)
{
  <p>0 pastries............$0</p>
}
@if (@Model["order"].Description["pastries"] == 1)
{
  <p>1 pastry............$2</p>
}
@if (@Model["order"].Description["pastries"] > 1)
{
<p>@Model["order"].Description["pastries"] pastries............$@Model["order"].Description["pastryTotal"]</p>
}

@if (@Model["order"].Description["bread"] == 0)
{
  <p>0 loaves of bread............$0</p>
}
@if (@Model["order"].Description["bread"] == 1)
{
  <p>1 loaf of bread............$5</p>
}
@if (@Model["order"].Description["bread"] > 1)
{
  <p>@Model["order"].Description["bread"] loaves of bread............$@Model["order"].Description["breadTotal"]</p>
}

<h5>Order Total:</h5> <h3>$@Model["order"].Total</h3>
<h5>@Model["order"].Status</h5>
<h5>Vendor: @Model["vendor"].Name</h5>

<p><a href='/vendors/@Model["vendor"].Id/orders/@Model["order"].Id/updateqty'>Update order quantities</a></p>
<p><a href='/vendors/@Model["vendor"].Id/orders/@Model["order"].Id/updatestatus'>Update order status</a></p>
<p><a href='/vendors/@Model["vendor"].Id'>Return to @Model["vendor"].Name</a></p>
<p><a href='/vendors'>Return to vendor list</a></p>
<p><a href='/'>Return to main page</a></p>
<form action="/orders/delete" method="post">
  <input name="orderId" type="hidden" value='@Model["order"].Id'>
  <input name="vendorId" type="hidden" value='@Model["vendor"].Id'>
  <button type="submit" name="button">Delete this order</button>
</form>