@{
  Layout = "_Layout";
}

<h3>Update status for @Model["vendor"].Name's @Model["order"].Title</h3>

<form action='/orders/statuschange' method="post">
  <input id="vendorId" name="vendorId" type="hidden" value='@Model["vendor"].Id'>
  <input id="orderId" name="orderId" type="hidden" value='@Model["order"].Id'>
  <input type="radio" name="orderStatus" value="UNPAID">
    Unpaid
  </label>
  <label>
    <input type="radio" name="orderStatus" value="PAID" checked>
    Paid
  </label>
  <br>
  <button type='submit'>Update order</button>
</form>
<br>
<p><a href='/vendors/@Model["vendor"].Id/orders/@Model["order"].Id'>Cancel update</a></p>
<p><a href='/vendors/@Model["vendor"].Id'>Return to @Model["vendor"].Name</a></p>
<p><a href='/vendors'>Return to vendor list</a></p>
<p><a href='/'>Return to main page</a></p>